*{
    margin: 0;
    padding: 0;
}

.logo{
    width: 10%;
    height: 100px;
    background-color:grey;
    display: inline-block;
}

nav{
    position: absolute; /*posso trabalhar com ele em qualquer posição*/
    top: 30px;
    left: 190px;
}

nav li{
    display: inline-block; /*deixo a lista em linha*/
    list-style: none;
    padding: 10px;
}

nav li a{
    text-decoration: none;
}

/*  A gente tem como mudar a forma como ele pensa, para que o espaçamento lateral esteja dentro do percentual.
 E aí, para fazer isso, a gente usa uma propriedade chamada box-sizing: border-box, com isso aqui, os meus 30%, agora são definitivos,
  são sempre a largura e esses pixels de espaçamento interno, estão dentro desses 30%. USADO NA TAG <LI>*/ 